<!DOCTYPE html>
<html lang="es">

<%- include('partials/head')%>

    <body>
        <%- include('partials/header')%>
            <main>
                <section class="container-products">
                    <h2>Vintage / E-comerce</h2>
                    <button type="submit">Nuevo producto</button>
                    <button type="submit">User View</button>

                    <div class="products-cards">
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla1.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla2.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla3.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla4.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla5.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla6.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla7.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla8.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla9.jpg" alt="">
                            </div>
                            <form class="form" action="#" method="POST">
                                <button type="submit" class="button danger">Borrar</button>
                                <a href="#" class="button-edit">Editar</a>
                            </form>
                        </div>

                    </div>
                </section>
            </main>
    </body>

</html>