<!DOCTYPE html>
<html lang="es">

<%- include('partials/head')%>

    <body>
        <%- include('partials/header')%>
            <main>
                <section class="container-products">
                    <h2>Vintage / E-comerce</h2>
                    <div class="container-buttom">
                        <a href="/productos/create">Nuevo producto</a>
                    </div>

                    <div class="products-cards">
                        <div class="products-card">
                            <div class="products-items">
                                <img src="/img/grilla1.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                        </div>
                            <div class="products-items">
                                <img src="/img/grilla2.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla3.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla4.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla5.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla6.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla7.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla8.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>
                            <div class="products-items">
                                <img src="/img/grilla9.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                                <form class="form" action="#" method="POST">
                                    <a href="#">Borrar</a>
                                    <a href="#" class="button-edit">Editar</a>
                                </form>
                            </div>

                    </div>
                </section>
            </main>
    </body>

</html>