<!DOCTYPE html>
<html lang="es">

<%- include('partials/head')%>

    <body>
        <%- include('partials/header')%>
            <main>
                <section class="container-products">


                    <div class="products-cards">
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla1.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla2.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla3.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla4.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla5.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= products.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla6.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla7.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla8.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>
                        <div class="products-card">
                            <div class="products-items">
                                <img src="../public/img/grilla9.jpg" alt="">
                                <h2>
                                    <%= productos.name %>
                                </h2>
                                <h3>
                                    <%= productos.price %>
                                </h3>
                                <p>
                                    <%= productos.description %>
                                </p>
                            </div>
                        </div>

                    </div>
                </section>
            </main>
    </body>

</html>